﻿@page
@model App.UI.Pages.about_usModel

<div class="about-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <img src="/images/banners/banner3.jpg" class="banner" />
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=@Model.GetLocalizedUrl("/")> <localize key="Home" /></a></li>
                        <li class="breadcrumb-item active" aria-current="page"> <localize key="About Us" /></li>
                    </ol>
                </nav>
                <h1> <localize key="About Us" /></h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>

    <!-- Intro Section -->
    <section class="intro waves-parent">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-lg-start text-center">
                    <h1 class="initial-title waves-icon">
                        <svg width="36.967" height="25.146" class="waves-sm">
                            <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                        </svg>
                         <localize key="About Bontá Yachting" />
                    </h1>
                    <p class="my-3 pb-lg-2">
                        <localize key="Overview" />
                    </p>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-4 text-lg-start text-center img-box">
                    <img src="@Model.RightImage.PhotoPath" class="img-fluid cover" />
                    <svg width="80.661" height="51.351" class="waves-icon">
                        <use xlink:href="/images/svg/master.svg#waves-md"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Wave Pattern -->
        <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </section>


    <!-- Our Team -->
    <section class="our-team waves-parent">
        <h2 class="initial-title text-center mb-4 pb-lg-2">
            <svg width="36.967" height="25.146" class="waves-sm">
                <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
            </svg> <localize key="Our Team" />
        </h2>

        <div class="container">
            <div class="owl-carousel four-items">
                @foreach (var member in Model.Members)
               {
                    <div class="item">
                    <!-- Team Box -->
                    <div class="team-box">
                        <img src="/Photos/team/@member.Photo" />
                        <span>@member.Name</span>
                    </div>
                </div>
               }
               
              
            </div>
        </div>

        <!-- Wave Pattern -->
        <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#f2f2f2"></use>
        </svg>
    </section>
</div>
@section Scripts{
    <script>
        $('.four-items').owlCarousel({
            autoplay: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1
                },
                580: {
                    items: 2
                },
                992: {
                    items: 4
                }
            }
        });
    </script>
}