﻿@page
@using AppCore.Utilities
@model App.UI.Pages.attractionsModel
@{
}

<div class="attractions-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <img src="@Model.Banner.PhotoPath" class="banner" />
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Attractions</li>
                    </ol>
                </nav>
                <h1>Attractions</h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>
    <!-- Attraction Content -->
    <section class="container attractions-content">
        @foreach (var attraction in Model.Attractions)
       {
           <!-- horizontal-card -->
        <div class="horizontal-card mb-4 pb-3">
            <div class="img-box">
                <img src="@attraction.PhotoPath" />
            </div>
            <div class="content">
                <h2 class="initial-title">@attraction.Title</h2>
                <p>
                   @attraction.SubTitle
                </p>
                <h3>What You Expect to Find</h3>
                <ul class="check-list">
                    @foreach (var item in attraction.Highlights.TextToListItems())
                   {
                       @Html.Raw(item)
                   }
                   
                </ul>
            </div>
        </div>
       }
        
    
    </section>
</div>