﻿@page
@using AppCore.Utilities
@using Microsoft.Extensions.Configuration
@using System.Globalization
@model App.UI.Pages.boat_detailsModel
@inject IConfiguration Configuration
<style>
    .busy-days {
        border: 1px solid #FF0000 !important;
        color: red !important;
    }
</style>
<div class="boat_details-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <if is-true="string.IsNullOrEmpty(Model.Boat.BannerPhoto)">
            <img src="/images/banners/banner1.jpg" class="banner" />
        </if>
        <if is-true="!string.IsNullOrEmpty(Model.Boat.BannerPhoto)">
            <img src="@Model.Boat.BannerPhotoPath" class="banner" />
        </if>
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Boat.LocalizedName</li>
                    </ol>
                </nav>
                <h1>@Model.Boat.LocalizedName</h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>
    <!-- Body Content -->
    <section class="container">
        <div class="row pb-4">
            <div class="col-lg-8">
                <div class="carousel">
                    <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
                        @foreach (var boatphoto in Model.Boat.BoatPhotos)
                        {
                            <div class="carousel__slide"
                             data-src="/photos/boat/@boatphoto.Photo"
                             data-fancybox="gallery"
                             data-caption="Hello 🖐">
                                <img src="/photos/boat/@boatphoto.Photo" />
                            </div>
                        }



                    </div>

                    <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
                        @foreach (var boatphoto in Model.Boat.BoatPhotos)
                        {
                            <div class="carousel__slide">
                                <img class="panzoom__content" src="/photos/boat/@boatphoto.Photo" />
                            </div>
                        }
                    </div>
                </div>

                <h2 class="initial-title waves-icon mt-4 mt-md-5">
                    <svg width="36.967" height="25.146" class="waves-sm">
                        <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                    </svg>
                    @Model.Boat.LocalizedName
                </h2>
                <p>
                    @Model.Boat.Description
                </p>
                <h2 class="initial-title waves-icon mt-3 mt-md-5">
                    <svg width="36.967" height="25.146" class="waves-sm">
                        <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                    </svg>
                    Specification
                </h2>
                <ul class="three-col">
                    <li><b>Make:</b> @Model.Boat.Make</li>
                    <li><b>Hull Material:</b> @Model.Boat.HullMaterial</li>
                    <li><b>Max Speed:</b> @Model.Boat.MaxSpeed knots</li>
                    <li><b>Type:</b> @Model.Boat.Type</li>
                    <li><b>Draft:</b> @Model.Boat.Draft ft</li>
                    <li><b>Passengers:</b> @Model.Boat.Passengers</li>
                    <li><b>Length:</b> @Model.Boat.Length ft</li>
                </ul>
                <div class="row">
                    <if is-true="!string.IsNullOrEmpty(Model.Boat.Include)">
                        <div class="col-md-4">
                            <h2 class="initial-title waves-icon mt-2 mt-md-4">
                                <svg width="36.967" height="25.146" class="waves-sm">
                                    <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                                </svg>
                                Inclusions
                            </h2>
                            <ul class="check-list">
                                @foreach (var item in Model.Boat.Include.TextToListItems())
                                {
                                    @Html.Raw(item)
                                }
                            </ul>
                        </div>
                    </if>
                    <if is-true="!string.IsNullOrEmpty(Model.Boat.Exclude)">
                        <div class="col-md-4">
                            <h2 class="initial-title waves-icon mt-2 mt-md-4">
                                <svg width="36.967" height="25.146" class="waves-sm">
                                    <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                                </svg>
                                Exclusions
                            </h2>
                            <ul class="check-list not-allowed">
                                @foreach (var item in Model.Boat.Exclude.TextToListItems())
                                {
                                    @Html.Raw(item)
                                }

                            </ul>
                        </div>
                    </if>
                    <if is-true="!string.IsNullOrEmpty(Model.Boat.Extras)">
                        <div class="col-md-4 mt-lg-0 mt-4">
                            <h2 class="initial-title waves-icon mt-2 mt-md-4">
                                <svg width="36.967" height="25.146" class="waves-sm">
                                    <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                                </svg>
                                Extras
                            </h2>
                            <ul class="check-list">
                                @foreach (var item in Model.Boat.Extras.TextToListItems())
                                {
                                    @Html.Raw(item)
                                }

                            </ul>
                        </div>
                    </if>
                    <if is-true="!string.IsNullOrEmpty(Model.Boat.Notes)">
                        <div class="col-12 mt-lg-0 mt-4">
                            <h2 class="initial-title waves-icon mt-3 mt-md-5">
                                <svg width="36.967" height="25.146" class="waves-sm">
                                    <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                                </svg>
                                Notes
                            </h2>
                            <ul class="check-list">
                                @foreach (var item in Model.Boat.Notes.TextToListItems())
                                {
                                    @Html.Raw(item)
                                }
                            </ul>
                        </div>
                    </if>
                </div>
            </div>
            <aside class="col-lg-4 mt-4 mt-lg-0">
                <h2 class="initial-title waves-icon text-center">
                    <svg width="36.967" height="25.146" class="waves-sm">
                        <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                    </svg>
                    Yacht Schedule
                </h2>
                <div id="datepicker" class="datepicker-booking datepicker">
                    <div class="booking-status">
                        <div class="available"><span></span>Available days</div>
                        <div class="unavailable"><span></span>Unavailable days</div>
                    </div>
                </div>
                <form class="main-form" id="main-form" method="post">
                    <div class="head">
                        <h2>Book Now</h2>
                        <if is-true=Model.Boat.Price.HasValue>
                            <span>@Model.Boat.Price.Value.ToString("####")<small>EGP/Day</small></span>

                        </if>
                    </div>
                    <input type="hidden" value=@Model.CommissionPrice asp-for="BoatBooking.Price" />
                    <div class="two-col">

                        <input type="text" class="form-control validate[required]" placeholder="First Name" asp-for="BoatBooking.FirstName">
                        <input type="text" class="form-control validate[required]" placeholder="Last Name" asp-for="BoatBooking.LastName">
                    </div>
                    <input type="email" class="form-control validate[required]" placeholder="Email" asp-for="BoatBooking.Email">
                    <div class="two-col">
                        <input type="text" class="form-control validate[required,custom[integer]]" placeholder="Phone" asp-for="BoatBooking.Phone">

                        <div class="checkin">
                            <input type="text" class="form-control validate[required] datepicker" id="2" asp-for="BoatBooking.CheckIn" placeholder="Check-in">
                        </div>
                    </div>

                    <div class="custom-select">
                        <select class="form-select validate[required]" asp-for="BoatBooking.Destination">
                            <option selected value="">Destination</option>
                            @foreach (var item in Model.BoatDestinations)
                            {
                                <option value="@item">@item</option>

                            }


                        </select>
                    </div>
                    <div class="two-col">


                        <div class="custom-select">
                            <select class="form-select validate[required]" id="Adults" asp-for="BoatBooking.Adults">
                                <option selected value="">Adults</option>
                                @for (var i = 1; i <= Model.Boat.Passengers; i++)
                                {
                                    <option value="@i">@i</option>
                                }


                            </select>
                        </div>
                        <div class="custom-select">
                            <select class="form-select validate[required]" id="Children" asp-for="BoatBooking.Children">
                                <option selected value="">Children</option>


                            </select>
                        </div>
                    </div>
                      <input type="text" class="form-control" placeholder="Agent Code" asp-for="AgentCode">
                    <textarea class="form-control" rows="4" placeholder="Special Request" asp-for="BoatBooking.SpecialRequst"></textarea>
                    <div class="g-recaptcha"
                         data-sitekey="@(Configuration.GetValue<String>("GoogleReCaptcha:SiteKey"))"
                         data-callback="onRecaptchaExecuted"
                         data-size="invisible">
                    </div>
                    <div class="alert alert-success fs-18 rounded-0">Pay @Model.CommissionPrice EGP now, the rest is due upon check-in. </div>
                    <div class="form-check mb-3 fs-5">
                        <input class="form-check-input" type="checkbox" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            I agree to <button data-fancybox="dialog" data-src="#dialog-content" class="p-0 bg-transparent border-0 fw-medium text-decoration-underline">terms and conditions</button>
                        </label>
                    </div>
                     
                    <button class="initial-btn w-100" onclick="javascript: return form_validate();">Submit Request</button>
                </form>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4321.556397903181!2d33.675455!3d27.403556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145266f205ab4243%3A0x76585207f59e1734!2sEl%20Gouna%20Sailing%20Club!5e1!3m2!1sen!2seg!4v1655585327223!5m2!1sen!2seg" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <if is-true="!string.IsNullOrEmpty(Model.Boat.WhatToBring)">
                    <div class="our-note">
                        <h2 class="initial-title text-center">
                            <svg width="31.999" height="32" class="me-2">
                                <use xlink:href="/images/svg/master.svg#exclamation"></use>
                            </svg>
                            What to bring
                        </h2>
                        <ul class="check-list">
                            @foreach (var item in Model.Boat.WhatToBring.TextToListItems())
                            {
                                @Html.Raw(item)
                            }
                        </ul>
                    </div>
                </if>
            </aside>
        </div>
    </section>

    <!-- Our Yachts -->
    <section class="our-yachts waves-parent">
        <div class="container">
            <h2 class="initial-title text-center mb-4 pb-lg-2">
                <svg width="36.967" height="25.146" class="waves-sm">
                    <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                </svg>Other Yachts
            </h2>
            <div class="two-items owl-carousel yachts-container">

                @foreach (var boat in Model.Boats)
                {
                    <div class="item">
                        <!-- Yachts Box -->
                        <a href="@Model.GetLocalizedUrl(boat.DetailsUrl)" class="yacht_box">
                            <img src="@boat.MainPhotoPath" class="cover" />
                            <div class="content">
                                <b>@boat.LocalizedName</b>
                                <span>
                                    <svg width="24" height="22.096" class="icon">
                                        <use xlink:href="/images/svg/master.svg#users" stroke="#fff"></use>
                                    </svg>@boat.Passengers Pax
                                </span>
                            </div>
                        </a>

                    </div>
                }


            </div>
        </div>
        <input type="hidden" id="Passangers" value="@Model.Boat.Passengers" />
        <!-- Wave Pattern -->
        <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#f2f2f2"></use>
        </svg>
    </section>
</div>
<input type="hidden" id="hdnPaymentFrame" asp-for="@Model.PaymentIFrameSrc" />

<!-- Dialog Contents -->
<div id="dialog-content" class="general-modal">
    <h2 class="mb-4"><i class="fa-solid fa-circle-info me-2"></i> Terms and conditions!</h2>
    <h3 class="mb-3 fs-5">Full refund if cancel 24 hours in advance.</h3>
    <ul class="check-list bullet-points">
        <li>no pets are allowed</li>
        <li>no drugs are allowed</li>
        <li>swimming on own risk</li>
        <li>consumption of alcohol is not recommended</li>
        <li>parents are in charge of their kids</li>
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            


            function SetChildern() {
                var NumOfAdults = $("#Adults").val();
                var Passangers = $("#Passangers").val();
                var childern = Passangers - NumOfAdults;
                $("#Children").empty();
                $("#Children").append("<option selected value=' '>Children</option>");


                for (var i = 0; i <= childern; i++) {

                    $("#Children").append("<option value=" + i + ">" + i + "</option>");
                }
            }
           
            var frameSrc = $("#hdnPaymentFrame").val();
            if (frameSrc.length > 1) {

                $.magnificPopup.open({
                    items: {
                        src: frameSrc, // can be a HTML string, jQuery object, or CSS selector
                        type: 'iframe'
                    }
                });

                //$('.iframe-link').magnificPopup({type:'iframe'});
            };


            $('#Adults').change(function() {
                SetChildern();
            });

            $('#Children').click(function() {

                if (!$(this).val()) {
                    SetChildern();
                }


            });
        });
    </script>
    <script>
        // Initialise Carousel
        const mainCarousel = new Carousel(document.querySelector("#mainCarousel"), {
            Dots: false,
            slidesPerPage: 1
        });

        // Thumbnails
        const thumbCarousel = new Carousel(document.querySelector("#thumbCarousel"), {
            Sync: {
                target: mainCarousel,
                friction: 0,
            },
            Dots: false,
            Navigation: false,
            center: true,
            slidesPerPage: 1,
            infinite: false,
        });

        // Customize Fancybox
        Fancybox.bind('[data-fancybox="gallery"]', {
            Carousel: {
                on: {
                    change: (that) => {
                        mainCarousel.slideTo(mainCarousel.findPageForSlide(that.page), {
                            friction: 0,
                        });
                    },
                },
            },
        });
    </script>
    <script>
        $('.two-items').owlCarousel({
            autoplay: true,
            margin: 10,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    dots: true,
                    nav: false
                },
                767: {
                    nav: true,
                    items: 2,
                    dots: false,
                    nav: true
                }
            }
        });
    </script>
    <script>



        var user_busy_days = @Html.Raw(Model.DateBlockJson);
        $('.datepicker', this.$el).datepicker({
            inline: true,
            language: 'en',
            startDate: '+1d',
            format: 'dd/mm/yyyy',//'yyyy-mm-dd',
            beforeShowDay: function(date) {
                var calender_date = ('0' + date.getDate()).slice(-2) + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
                var search_index = $.inArray(calender_date, user_busy_days);
                if (search_index > -1) {
                    return { classes: 'disabled busy-days', tooltip: 'Busy Day' };
                }
                else {
                    return { tooltip: 'Available Day' };
                }
            }
        });



        $('#datepicker').on('changeDate', function() {
            $('#my_hidden_input').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });

    </script>

    <script src="/lib/jQuery-Validation-Engine/languages/jquery.validationEngine-@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName).min.js"></script>
    <script src="/lib/jQuery-Validation-Engine/jquery.validationEngine.min.js"></script>
    <script src="/lib/toastr.js/toastr.min.js"></script>
    <script>
        function onRecaptchaExecuted(token) {
            document.getElementById("main-form").submit();
        }

    </script>
    <script>
        function form_validate() {
           
            var isValid = $('#main-form').validationEngine('validate');
            if (isValid) {
                var checked=$("#flexCheckChecked").prop("checked")
                  if (checked==false) {
                alert('You must agree to the terms first.');
                return false;
            }
                grecaptcha.execute();
            }
            return false;
        }
    </script>
}