﻿@page
@model App.UI.contactusModel
@using Microsoft.Extensions.Configuration
@using System.Globalization

@inject IConfiguration Configuration
@* recapcha *@
@*<div class="g-recaptcha" data-sitekey="@(Configuration.GetValue<String>("GoogleReCaptcha:SiteKey"))"></div>*@
<div class="contact-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <img src="/images/banners/banner4.jpg" class="banner" />
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
                <h1>Contact Us</h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>
    <!-- contact Info -->
    <section class="container">
        <div class="contact-info">
            <div>
                <svg width="64" height="64">
                    <use xlink:href="/images/svg/master.svg#map"></use>
                </svg>
                <span>@Model.BusinessInfo.Address</span>
            </div>
            <div>
                <svg width="48.516" height="64">
                    <use xlink:href="/images/svg/master.svg#mobile"></use>
                </svg>
                <a href="tel:@Model.BusinessInfo.PhoneNumber">@Model.BusinessInfo.PhoneNumber</a>
            </div>
            <div>
                <svg width="64" height="64">
                    <use xlink:href="/images/svg/master.svg#message"></use>
                </svg>
                <a href="mailto: @Model.BusinessInfo.ContactUsEmail">@Model.BusinessInfo.ContactUsEmail</a>
            </div>
        </div>

        <div class="row mt-5">
            <form class="col-lg-6 main-form mt-lg-5" id="contact-form" method="post">
                <div class="two-col">
                    <input type="text" class="form-control validate[required]" asp-for="ContactUsDataModel.FullName" placeholder="Name">
                    <input type="email" class="form-control validate[required]" placeholder="Email" asp-for="ContactUsDataModel.Email">
                    <input type="text"  class="form-control validate[required,custom[integer]]" placeholder="Phone" asp-for="ContactUsDataModel.Phone">
                    <div class="custom-select">
                        <select class="form-select validate[required]" asp-for="ContactUsDataModel.Country">
                            <option selected value="">Country</option>
                            @foreach (var country in Model.CountryList)
                            {
                                <option value="@country.Name">@country.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control validate[required]" placeholder="Subject" asp-for="ContactUsDataModel.Subject">
                <textarea class="form-control" rows="4" placeholder="Special Request" asp-for="ContactUsDataModel.Message"></textarea>
                <div class="g-recaptcha"
                     data-sitekey="@(Configuration.GetValue<String>("GoogleReCaptcha:SiteKey"))"
                     data-callback="onRecaptchaExecuted"
                     data-size="invisible">
                </div>
                <div class="text-start text-md-end">
                    <button class="initial-btn"
                            onclick="javascript: return form_validate();">
                        Send
                    </button>
                </div>
            </form>
            <div class="col-lg-6 mt-lg-5 mt-3">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4321.556397903181!2d33.675455!3d27.403556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145266f205ab4243%3A0x76585207f59e1734!2sEl%20Gouna%20Sailing%20Club!5e1!3m2!1sen!2seg!4v1655585327223!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
<script src="/lib/jQuery-Validation-Engine/languages/jquery.validationEngine-@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName).min.js"></script>
<script src="/lib/jQuery-Validation-Engine/jquery.validationEngine.min.js"></script>
<script src="/lib/toastr.js/toastr.min.js"></script>
<script>
    function onRecaptchaExecuted(token) {
        document.getElementById("contact-form").submit();
    }

</script>
<script>
    function form_validate() {

        var isValid = $('#contact-form').validationEngine('validate');
        if (isValid) {
            grecaptcha.execute();
        }
        return false;
    }
</script>
}