﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
@section Head{
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
}

    <!-- Error Page -->
    <section class="error-page">
        <div class="container-fluid">
            <div class="ground-color text-center">
                <div class="container-error-404">
                    <div class="clip"><div class="error-shadow "><span class="digit thirdDigit"></span></div></div>
                    <div class="clip"><div class="error-shadow "><span class="digit secondDigit"></span></div></div>
                    <div class="clip"><div class="error-shadow "><span class="digit firstDigit"></span></div></div>
                    <div class="msg d-md-block d-none">OH!<span class="triangle"></span></div>
                </div>
                @if (string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <h1 class="h1">Sorry! Page not found</h1>
            }
            else
            {
                <h1 class="h1">@Model.ErrorMessage</h1>

            }

        </div>
    </div>
</section>

<!-- Error Page -->
@section Scripts{
    <script>
        function randomNum() {
            "use strict";
            return Math.floor(Math.random() * 9) + 1;
        }
        var loop1, loop2, loop3, time = 30, i = 0, number, selector3 = document.querySelector('.thirdDigit'), selector2 = document.querySelector('.secondDigit'),
            selector1 = document.querySelector('.firstDigit');
        loop3 = setInterval(function() {
            "use strict";
            if (i > 40) {
                clearInterval(loop3);
                selector3.textContent = 4;
            } else {
                selector3.textContent = randomNum();
                i++;
            }
        }, time);
        loop2 = setInterval(function() {
            "use strict";
            if (i > 80) {
                clearInterval(loop2);
                selector2.textContent = 0;
            } else {
                selector2.textContent = randomNum();
                i++;
            }
        }, time);
        loop1 = setInterval(function() {
            "use strict";
            if (i > 100) {
                clearInterval(loop1);
                selector1.textContent = 4;
            } else {
                selector1.textContent = randomNum();
                i++;
            }
        }, time);
    </script>
}
