﻿@page
@model App.UI.Pages.fleetModel
@{
}
<div class="fleet-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <img src="@Model.Banner.PhotoPath" class="banner" />
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Fleet</li>
                    </ol>
                </nav>
                <h1>Our Fleet</h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>

    <!-- Container -->
    <section class="our-yachts pt-md-0 pt-5 mb-4 mb-lg-5">
        <div class="container">
            <!-- Yachts Container -->
            <div class="yachts-container">
                @foreach (var boat in Model.Boats)
                {
                    <!-- Yachts Box -->
                    <a href="@Model.GetLocalizedUrl(boat.DetailsUrl)" class="yacht_box">
                        <img src="@boat.MainPhotoPath" class="cover" />
                        <div class="content">
                            <b>@boat.LocalizedName</b>
                            <span>
                                <svg width="24" height="22.096" class="icon">
                                    <use xlink:href="/images/svg/master.svg#users" stroke="#fff"></use>
                                </svg>@boat.Passengers Pax
                            </span>
                        </div>
                    </a>
                }

            </div>
        </div>
    </section>
</div>