﻿@page
@model App.UI.Pages.galleryModel
@{
}
<link href="/lib/lightbox2/css/lightbox.min.css" rel="stylesheet" />
<link href="/css/isotope.css" rel="stylesheet" />
<div class="media-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <img src="@Model.Banner.PhotoPath" class="banner" />
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                    </ol>
                </nav>
                <h1>Our Media</h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>

    <section class="container">
        <!-- Isotope Gallery -->
        <section class="isotope-gallery float-none m-0 pt-0 pb-sm-4 pb-0">
            <!-- Isotope Filters -->
            <div id="isotope-filters" class="isotope-button-group">
                <button class="link is-checked" data-filter="*">All</button>
                @foreach (var Album in Model.Albums)
               {
                   
                <button class="link" data-filter=".@Album.Id">@Album.Name</button>
               }
              
            </div>
            <!-- Isotope Grid -->
            <div class="row isotope-grid placeholder-wave">
                 @foreach (var Album in Model.Albums)
               {
                   
               
                <!-- Isotope Grid-Item -->

                    @foreach (var photo in Album.AlbumPhotos)
                   {
                    <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item @Album.Id">
                       <div class="isotope-item">
                        <a href="@photo.PhotoPath" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="@photo.OraginalPhotoPath" class="img-responsive center-block">
                        </a>
                    </div>
                   </div>
                   }
                    
               }
               
            </div>
        </section>
    </section>

</div>

@section Scripts{
    <script src="/lib/jquery.imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="/lib/jquery.isotope/isotope.pkgd.js"></script>
    <script src="/js/isotope.js"></script>
}