﻿@page
@model IndexModel
@inject AppCore.Managers.BusinessInfoManager Links
@using AppCore.Utilities
<link href="/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<div class="home-page">
    <!-- Banner -->
    <div class="banner">
        <div class="owl-carousel one-item">
            @foreach (var item in Model.HomeBanners)
            {
                <div class="item">
                    <img src="@item.PhotoPath" class="cover" />
                    <div class="container position-relative">
                        <div class="content">
                            <b>@Html.Raw(item.Title) </b>
                            <span>@item.SubTitle</span>
                            <img src="/images/icons/wave-one_line.svg" style="width: 60px;" />
                        </div>
                    </div>
                </div>
            }


        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
    </div>

    <!-- Intro Section -->
    <section class="intro waves-parent">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-lg-start text-center">
                    <h1 class="initial-title waves-icon">
                        <svg width="36.967" height="25.146" class="waves-sm">
                            <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                        </svg>
                        <localize key="Welcome to Bontá Yachting" />
                    </h1>
                    <p class="my-3 pb-lg-2">
                       <localize key="Overview" />
                    </p>
                    <a href=@Model.GetLocalizedUrl("/about-us") class="initial-btn w-25"><localize key="About Us" /></a>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-4 text-lg-start text-center">
                    <!-- Video Box -->
                    <a data-fancybox="video-gallery" class="video-popup" href="@Model.BusinessInfo.Video">
                        <img src="/images/yachts/harris-boat.jpg" class="img-fluid cover" />
                        <i class="fa-regular fa-circle-play icon"></i>
                        <svg width="80.661" height="51.351" class="waves-icon">
                            <use xlink:href="/images/svg/master.svg#waves-md"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!-- Wave Pattern -->
        <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </section>

    <!-- Our Yachts -->
    <section class="our-yachts pt-0 mb-4 mb-lg-5">
        <div class="section-bg waves-parent" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70),
          rgba(0, 0, 0, 0.80)), url('/images/bg/bg1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <svg width="251" height="163.592" class="waves-lg">
                <use xlink:href="/images/svg/master.svg#waves-lg"></use>
            </svg>
            <svg width="100%" class="wave-pattern revers" viewBox="0 0 1920 37.814">
                <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
            </svg>
            <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
                <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
            </svg>
        </div>
        <div class="container">
            <h2 class="initial-title text-white text-center mb-3 mb-lg-5">
                <svg width="36.967" height="25.146" class="waves-sm">
                    <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#fff"></use>
                </svg><localize key="Our Yachts" />
            </h2>
            <!-- Yachts Container -->
            <div class="yachts-container">
                @foreach (var boat in Model.Boats)
                {
                    <!-- Yachts Box -->
                    <a href="@Model.GetLocalizedUrl(boat.DetailsUrl)" class="yacht_box">
                        <img src="@boat.MainPhotoPath" class="cover" />
                        <div class="content">
                            <b>@boat.LocalizedName</b>
                            <span>
                                <svg width="24" height="22.096" class="icon">
                                    <use xlink:href="/images/svg/master.svg#users" stroke="#fff"></use>
                                </svg>@boat.Passengers Pax
                            </span>
                        </div>
                    </a>
                }


            </div>
        </div>
    </section>

    <!-- Why to Choose Us -->
    <section class="why-choose_us waves-parent">
        <h2 class="initial-title text-center mb-4 pb-lg-2">
            <svg width="36.967" height="25.146" class="waves-sm">
                <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
            </svg> <localize key="Why to Choose Us" />
        </h2>

        <div class="container-fluid features-container pb-lg-3">
            <!-- Feature Box -->
            <div class="feature-box">
                <svg width="100" height="100" class="icon">
                    <use xlink:href="/images/svg/master.svg#captain"></use>
                </svg>
                <span> <localize key="Friendly Crew" /></span>
            </div>
            <!-- Feature Box -->
            <div class="feature-box">
                <svg width="107.196" height="100" class="icon">
                    <use xlink:href="/images/svg/master.svg#boat1"></use>
                </svg>
                <span> <localize key="Unique Boats" /></span>
            </div>
            <!-- Feature Box -->
            <div class="feature-box">
                <svg width="80.611" height="100" class="icon">
                    <use xlink:href="/images/svg/master.svg#price_badge"></use>
                </svg>
                <span> <localize key="Best Price" /></span>
            </div>
            <!-- Feature Box -->
            <div class="feature-box">
                <svg width="78.881" height="100" class="icon">
                    <use xlink:href="/images/svg/master.svg#client"></use>
                </svg>
                <span> <localize key="Happy Clients" /></span>
            </div>
            <!-- Feature Box -->
            <div class="feature-box">
                <svg width="100.005" height="100" class="icon">
                    <use xlink:href="/images/svg/master.svg#like_badge"></use>
                </svg>
                <span> <localize key="Best Service" /></span>
            </div>
        </div>

        <!-- Wave Pattern -->
        <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#f2f2f2"></use>
        </svg>
    </section>

    <!-- Newsletter -->
    <section class="newsletter waves-parent">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start text-center mb-lg-0 mb-4">
                    <h2 class="initial-title mb-0">
                        <svg width="36.967" height="25.146" class="waves-sm">
                            <use xlink:href="/images/svg/master.svg#waves-sm" stroke="#000"></use>
                        </svg> <localize key="always keep updated" />
                    </h2>
                </div>
                <div class="col-lg-8">
                    <div class="subscribe-block">
                        <div class="social-media">
                            @foreach (var link in Links.GetSocialLinks())
                            {

                                
                                    <a href="@link.Link" target="_blank"><i class="fa-brands fa-@link.CssClass icon"></i></a>
                                
                            }

                        </div>
                        <form id="form" method="post">
                            <div class="input-group">
                                <input type="text" id="SubscriptionEmail" name="email" asp-placeholder="Email" />
                                <button type="submit" class="initial-btn"> <localize key="Subscribe"/></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wave Pattern -->
        <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </section>
</div>
@section Scripts{
<script src="/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
<script>
    $('.one-item').owlCarousel({
        autoplay: true,
        items: 1,
        margin: 10,
        dots: true,
        navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
        responsiveClass: true,
        responsive: {
            0: {
                nav: false
            },
            600: {
                nav: true
            }
        }
    });
</script>
<script>

    $(document).ready(function () {

        $('#form').submit(function (evt) {
            var Email = $("#SubscriptionEmail").val();
          
            if ((Email != null || "")) {
                $.ajax({
                    type: "post",
                    url: "/api/Subscription/AddSubscription",
                    data: { Email: Email },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (res) {
                        if (res == 1) {
                            Swal.fire(
                                'Subscribed!',
                                '',
                                'success'
                            )
                        }
                        else {
                            Swal.fire('Your Are Already Subscribed! ')
                        }
                    }

                })
            }
            evt.preventDefault();

        });
       
      
    });

   
</script>
}
