﻿@page
@model App.UI.Pages.mediaModel
@{
}
<link href="/lib/lightbox2/css/lightbox.min.css" rel="stylesheet" />
<link href="/css/isotope.css" rel="stylesheet" />
<div class="media-page">
    <!-- Inner Banner -->
    <div class="inner-banner waves-parent">
        <img src="/photos/boat/boat-banner-1a_1_lg.jpg" class="banner" />
        <div class="container">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Media</li>
                    </ol>
                </nav>
                <h1>Our Media</h1>
            </div>
        </div>
        <svg width="251" height="163.592" class="waves-lg">
            <use xlink:href="/images/svg/master.svg#waves-lg"></use>
        </svg>
        <svg width="100%" class="wave-pattern down" viewBox="0 0 1920 37.814">
            <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
        </svg>
    </div>

    <section class="container">
        <!-- Isotope Gallery -->
        <section class="isotope-gallery float-none m-0 pt-0 pb-sm-4 pb-0">
            <!-- Isotope Filters -->
            <div id="isotope-filters" class="isotope-button-group">
                <button class="link is-checked" data-filter="*">All</button>
                <button class="link" data-filter=".design">design</button>
                <button class="link" data-filter=".quality">quality</button>
                <button class="link" data-filter=".interface">interface</button>
            </div>
            <!-- Isotope Grid -->
            <div class="row isotope-grid placeholder-wave">
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item design">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-1.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery1.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item design">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-2.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery2.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item quality interface">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-1.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery1.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item  interface quality ">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-2.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery2.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item  quality ">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-1.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery1.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item  interface ">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-2.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery2.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item  interface design ">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-1.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery1.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
                <!-- Isotope Grid-Item -->
                <div class="col-lg-3 col-md-4 col-sm-6 isotope-grid-item  design ">
                    <div class="isotope-item">
                        <a href="/images/yachts/yacht-2.jpg" data-lightbox="isotope-gallery" data-title="Image Title">
                            <img src="/images/yachts/gallery2.jpg" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <!-- Isotope Grid-Item -->
            </div>
        </section>
    </section>

</div>

@section Scripts{
    <script src="/lib/jquery.imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="/lib/jquery.isotope/isotope.pkgd.js"></script>
    <script src="/js/isotope.js"></script>
}