﻿@page
@model App.UI.Pages.receiptModel
@{
}
<link href="/css/pages/print_style.min.css" rel="stylesheet" />
<div class="receipt-page">
    <div class="container">
        <h1 class="initial-title text-center mb-3 pb-1">
            <svg width="64" height="64" class="mb-3 d-block m-auto">
                <use xlink:href="/images/svg/master.svg#check"></use>
            </svg>
            Thank you for your booking
        </h1>
        <p class="text-center">You will receive email confirmation with the details of your booking shortly.</p>

        <div class="receipt-content">
            <h2>Booking Confirmation</h2>
            <div class="row">
                <div class="col-lg-3">
                    <img src="/images/logos/bonta-logo.svg" class="img-fluid">
                </div>
                <div class="col-lg-5">
                    <span><b>Booking Number:</b>@Model.CurrentBooking.Id</span>
                    <span><b>Booking Date:</b>@Model.CurrentBooking.BookingDate.ToShortDateString()</span>
                    <span><b>Check-in Date:</b>@Model.CurrentBooking.CheckIn.ToShortDateString()</span>
                </div>
                <div class="col-lg-4">
                    <span><b>Name:</b>@Model.CurrentBooking.Customer.FirstName @Model.CurrentBooking.Customer.LastName</span>
                    <span><b>Phone:</b>@Model.CurrentBooking.Customer.Phone</span>
                    <span><b>Email:</b>@Model.CurrentBooking.Customer.Email</span>
                </div>
            </div>
            <hr />
            <h2>Booked Yachts</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Yacht</th>
                        <th scope="col">Pax</th>
                        <th scope="col">Distination</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.CurrentBooking.Boat.UrlName</td>
                        <td>@(Model.CurrentBooking.Adults+Model.CurrentBooking.Children) (@Model.CurrentBooking.Adults Adults - @Model.CurrentBooking.Children Child)</td>
                        <td>@Model.CurrentBooking.Destination</td>
                        <td>@Model.CommissionPrice EGP</td>
                    </tr>
                   @* <tr class="total-row">
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td><b>2000</b> EGP</td>
                    </tr>*@
                </tbody>
            </table>
            <hr class="mt-5" />
            <h2 class="mt-5 mb-4">Contact Info</h2>
            <div class="row">
                <div class="col-lg-6">
                    <span href="tel:+@Model.BusinessInfo.PhoneNumber"><b>Telephone:</b>@Model.BusinessInfo.PhoneNumber</span>
                    <span href="mailto: @Model.BusinessInfo.ContactUsEmail"><b>Email:</b>@Model.BusinessInfo.ContactUsEmail</span>
                </div>
                <div class="col-lg-6">
                    <span><b>Address:</b>@Model.BusinessInfo.Address</span>
                </div>
                <div class="col-12 text-center mt-5">
                    <button type="button" class="initial-btn" onclick="window.print()"><i class="fa-solid fa-print me-2"></i>Print</button>
                </div>
            </div>
        </div>
    </div>
</div>