﻿@page
@model App.UI.Pages.thanksModel
@{
}
<div class="thanks-page">
    <div class="inner-page">
        <img src="/images/banner/banner1.jpg" />
    </div>
    <section class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="/images/icons/check.svg" />
                <h2 class="title-primary mt-3">Thanks for your booking</h2>
                <div class="alert">
                    <p class="bg-sky mb-0 me-md-4 px-3 py-2 text-start">
                        Your Boat Booking Request has been confirmed. Will contact you shortly
                        to confirm sample collection date and time.
                    </p>
                    <span class="code">#<span>@Model.CurrentBooking.BookingKey</span></span>
                </div>
                
                <p class="mt-4 mt-md-5">Our hotlines are available for 24 hours for any inquires or more details.</p>
                @*<p class="mt-4 mt-md-5">If you don’t receive our call, feel free to reach us at:</p>*@
                <div class="contact mt-4 mt-md-5">
                    <div class="phone me-5">
                        <span>
                            <svg width="16" height="16">
                                <use xlink:href="/images/svg/master.svg#phone" fill="#f8ac1d"></use>
                            </svg>
                        </span>
                        +201283441110
                    </div>
                    <div class="phone me-5">
                        <span>
                            <svg width="16" height="16">
                                <use xlink:href="/images/svg/master.svg#phone" fill="#f8ac1d"></use>
                            </svg>
                        </span>
                        @Model.BusinessInfo.PhoneNumber
                    </div>
                    <div class="mail">
                        <span>
                            <svg width="20" height="16">
                                <use xlink:href="/images/svg/master.svg#envelope" fill="#15adca"></use>
                            </svg>
                        </span>
                        <a href="mailto: @Model.BusinessInfo.ContactUsEmail">@Model.BusinessInfo.ContactUsEmail</a>
                    </div>
                </div>
                @*Our hotline ( +201283441110 & +201111107006) are available for 24 hours for any inquires or more details.*@
            </div>
        </div>
    </section>
</div>