﻿/*@import "mixins";*/

/* Color Variables */
$white: #ffffff;
$black: #000;
/* Fonts */

/* Basic Typography */
body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

ul {
    list-style: none;
    padding: 0;

    &:hover {
        a {
            text-decoration: none;
        }
    }
}
/* Colors */
.text-white {
    color: $white;
}

.text-black {
    color: $black;
}
/* Font Weights */
.fw-regular {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}
/* Font Sizes */
.fs-18 {
    font-size: 18px;
}
/* Titles */
.initial-title {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;

    .waves-sm {
        margin-right: 20px;
    }
}
/* Buttons */
.initial-btn {
    font-size: 18px;
    font-weight: 400;
    border: 0;
    min-height: 40px;
    min-width: 150px;
    text-transform: uppercase;
    transition: all 0.4s;
    text-align: center;
    background: $black;
    color: $white;
    padding: 10px 15px;
    display: inline-block;

    &:hover {
        color: $white;
    }
}
// ----------- start btn-Return-to-top -------- //
#return-to-top {
    position: fixed;
    bottom: 35px;
    right: 20px;
    background: #000;
    width: 45px;
    height: 45px;
    z-index: 99;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 2px;
    overflow: hidden;

    &:hover {
        background: #000;

        span {
            opacity: 0;
            display: none;
        }

        i {
            color: #fff;
            opacity: 1;
            display: block;
            animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
        }
    }

    i,
    span {
        color: #fff;
        margin: 0;
        position: relative;
        left: 15px;
        top: 12px;
        font-size: 20px;
        -moz-transition: opacity 0.9s ease;
        -o-transition: opacity 0.9s ease;
        transition: opacity 0.9s ease;
    }

    i {
        opacity: 0;
        display: none;
    }

    span {
        opacity: 1;
        top: 3px;
        left: 12px;
        font-weight: 600;
    }
}

@keyframes lineUp {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(-70px);
    }
}

/* Loose Styles */
.inner-banner {
    position: relative;
    height: 350px;
    overflow: hidden;

    img.banner {
        @extend .fit-img;
    }

    .container {
        position: relative;
        height: inherit;
        top: -100%;

        .content {
            position: absolute;
            left: 12px;
            top: 0;
            bottom: 0;
            margin: auto;
            color: $white;
            z-index: 3;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-transform: uppercase;

            .breadcrumb {
                .breadcrumb-item, .breadcrumb-item a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                }

                .breadcrumb-item + .breadcrumb-item::before {
                    content: "\f105";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 700;
                    float: none;
                    font-size: 10px;
                    color: $white;
                    position: relative;
                    top: -3px;
                }
            }

            h1 {
                font-size: 50px;
                font-weight: 700;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left,transparent,transparent,transparent,rgba(0,0,0,.4),rgba(0,0,0,.4));
        z-index: 1;
    }

    .waves-lg {
        position: absolute;
        left: -230px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .wave-pattern.down {
        top: unset;
        bottom: -2px;
    }
}

.owl-carousel {
    .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;

        .owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 7px;
            background: transparent;
            border: 1px solid $white;

            &.active {
                background: $white;
                border-color: $white;
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 25px;
        margin: auto;
        width: 95%;
        max-width: 1370px;

        button:focus, button:hover {
            background: none !important;
            color: #f0f0f0 !important;
        }

        .owl-prev {
            position: relative;
            left: 0;
        }

        .owl-next {
            position: relative;
            right: 0;
        }
    }

    &.dots-white .owl-dots .owl-dot {
        border-color: $white;

        &.active {
            background: $white;
            border-color: $white;
        }
    }

    &.dots-bottom .owl-dots {
        bottom: 32px;
        position: absolute;
        width: 100%;
    }
}

.initial-transition {
    transition: 0.8s cubic-bezier(0.39, 0.58, 0.57, 1) all;
}

.dropdown-toggle {
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border: none;
        content: '\f078';
        font-family: "Font Awesome 6 free";
        font-weight: 700;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

.fit-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.waves-parent {
    position: relative;

    .wave-pattern {
        position: absolute;
        bottom: 99%;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9;
        -ms-transform: rotatex(180deg);
        -webkit-transform: rotatex(180deg);
        transform: rotatex(180deg);

        &.revers {
            top: 0;
            -ms-transform: unset;
            -webkit-transform: unset;
            transform: unset;
        }
    }
}

.yachts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .yacht_box {
        position: relative;
        flex: 0 0 49%;
        max-height: 385px;
        overflow: hidden;
        margin-top: 15px;

        .cover {
            @extend .fit-img;
        }

        .content {
            position: absolute;
            left: 30px;
            bottom: 30px;
            background-color: $white;
            color: $black;
            padding: 16px 20px;
            min-width: 370px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            b {
                font-size: 24px;
                font-weight: 400;
                margin-right: 30px;
                text-transform: uppercase;
            }

            span {
                font-size: 14px;
                font-weight: 400;

                .icon {
                    margin-right: 12px;
                }
            }
        }

        &:hover {
            .cover {
                transform: scale(1.1);
                @extend .initial-transition;
            }

            .content {
                transition: 0.6s;
                background-color: $black;
                color: $white;

                span .icon use {
                    transition: 0.4s;
                    fill: $white;
                }
            }
        }
    }
}

.three-col {
    display: flex;
    flex-wrap: wrap;

    li {
        flex: 0 0 32%;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 400;

        b {
            font-weight: 700;
        }
    }
}

.check-list {
    margin-bottom: 0;

    li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 400;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '\f00c';
            font-family: "Font Awesome 6 Free";
            font-weight: 600;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 20px;
            background: #F2F2F2;
            font-size: 12px;
            color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.not-allowed li:before {
        content: '\f00d';
    }

    &.bullet-points li:before {
        content: '\f192';
        font-weight: 500;
    }
}

.horizontal-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: $white;

    .img-box {
        height: 386px;
        flex: 0 0 50%;

        img {
            @extend .fit-img;
        }
    }

    .content {
        flex: 0 0 50%;
        border: 1px solid #F1F1F1;
        padding: 35px;
        height: 386px;

        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        h3 {
            margin: 20px 0 15px;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.intro {
    .video-popup, .img-box {
        position: relative;
        display: inline-block;

        .cover {
            @extend .fit-img;
        }

        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 60px;
            background: rgba(0, 0, 0, 0.1);
        }

        .waves-icon {
            position: absolute;
            top: 30px;
            left: -15px;
        }
    }
}

.team-box {
    position: relative;
    max-width: 300px;
    width: auto;
    height: 280px;
    margin: auto;

    img {
        @extend .fit-img;
    }

    span {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: auto;
        background: $white;
        padding: 10px 15px;
        width: 85%;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
}

form.main-form {
    input:not([type="checkbox"]), select, textarea {
        background: #EFEFEF;
        color: #000;
        height: 60px;
        padding: 15px 15px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
        border: none;
        border-radius: 0;

        &::placeholder {
            color: #000;
        }
    }

    textarea {
        height: auto;
    }

    .custom-select {
        position: relative;

        &:before {
            position: absolute;
            top: -15px;
            bottom: 0;
            right: 15px;
            border: none;
            content: '\f078';
            font-family: "Font Awesome 6 free";
            font-weight: 700;
            font-size: 12px;
            display: flex;
            align-items: center;
            pointer-events: none;
        }
    }

    .checkin {
        position: relative;

        &:before {
            position: absolute;
            top: -15px;
            bottom: 0;
            right: 15px;
            border: none;
            content: '';
            font-family: "Font Awesome 6 free";
            font-weight: 700;
            font-size: 17px;
            display: flex;
            align-items: center;
            pointer-events: none;
        }
    }

    .two-col {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        input, .custom-select, .checkin {
            flex: 0 0 48%;
        }
    }

    .initial-btn {
        height: 60px;
    }
}
// general-modal
.general-modal {
    display: none;
    max-width: 700px;
    min-width: 500px;
    border-radius: 2px;

    .check-list li {
        font-size: 19px;
    }
}
// Fancy Box Carousel With Thumbnails
#mainCarousel {
    margin: 0 auto 1rem auto;
    --carousel-button-color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
    border: 1px solid #dadde9;
}

#mainCarousel .carousel__slide {
    width: 100%;
    padding: 0;
    text-align: center;
}

#mainCarousel .carousel__slide img {
    margin: auto;
}

#mainCarousel .carousel__button.is-prev {
    left: -1.5rem;
}

#mainCarousel .carousel__button.is-next {
    right: -1.5rem;
}

#mainCarousel .carousel__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #A78BFA;
}

#thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    width: 19.3%;
    max-height: 100px;
    margin: 0 7px 0 0;
    text-align: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &.is-nav-selected {
        opacity: 1;
    }
}

/* Error 404 page */
.error-page {
    $color_1: white;
    $color_2: #A2A2A2;
    $font-family_1: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman';

    /*--------------------------------------------FrameWork------------------------*/
    * {
        font-family: $font-family_1;
    }



    .container-error-404 {
        margin-top: 10%;
        position: relative;
        height: auto;
        padding-top: 40px;

        .clip {
            display: inline-block;
            transform: skew(-45deg);

            .error-shadow {
                height: 180px;
                overflow: hidden;
            }

            &:nth-of-type(2) {
                .error-shadow {
                    width: 130px;
                    overflow: hidden;
                    position: relative;
                    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
                }

                .digit {
                    left: -10%;
                }
            }

            &:nth-of-type(1) {
                .error-shadow {
                    width: 250px;

                    &:after {
                        content: "";
                        position: absolute;
                        right: -8px;
                        bottom: 0px;
                        z-index: 9999;
                        height: 100%;
                        width: 10px;
                        background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
                        border-radius: 50%;
                    }
                }

                .digit {
                    right: -20%;
                }
            }

            &:nth-of-type(3) {
                .error-shadow {
                    width: 250px;

                    &:after {
                        content: "";
                        position: absolute;
                        right: -8px;
                        bottom: 0px;
                        z-index: 9999;
                        height: 100%;
                        width: 10px;
                        background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
                        border-radius: 50%;
                        left: -8px;
                    }
                }

                .digit {
                    left: -20%;
                }
            }
        }
    }

    .digit {
        width: 150px;
        height: 150px;
        line-height: 150px;
        font-size: 120px;
        font-weight: bold;
        position: relative;
        top: 8%;
        color: $color_1;
        background: #07B3F9;
        border-radius: 50%;
        display: inline-block;
        transform: skew(45deg);
    }

    h1 {
        font-size: 32px;
        color: $color_2;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .msg {
        bottom: auto;
        top: -300px;
        left: 30%;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 32px;
        position: relative;
        z-index: 9999;
        display: block;
        background: #535353;
        color: $color_2;
        border-radius: 50%;
        font-style: italic;
    }

    span.triangle {
        top: 70%;
        right: 0%;
        border-left: 20px solid #535353;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }



    .triangle {
        position: absolute;
        z-index: 999;
        transform: rotate(45deg);
        content: "";
        width: 0;
        height: 0;
    }


    .overlay {
        position: relative;
        z-index: 20;
    }

    .ground-color {
        background: white;
    }

    .item-bg-color {
        background: #EAEAEA;
    }

    .padding-top {
        padding-top: 10px;
    }

    .padding-bottom {
        padding-bottom: 10px;
    }

    .padding-vertical {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padding-horizontal {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-all {
        padding: 10px;
    }

    .no-padding-left {
        padding-left: 0px;
    }

    .no-padding-right {
        padding-right: 0px;
    }

    .no-vertical-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .no-horizontal-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .no-padding {
        padding: 0px;
    }

    .margin-top {
        margin-top: 10px;
    }

    .margin-bottom {
        margin-bottom: 10px;
    }

    .margin-right {
        margin-right: 10px;
    }

    .margin-left {
        margin-left: 10px;
    }

    .margin-horizontal {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margin-vertical {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-all {
        margin: 10px;
    }

    .no-margin {
        margin: 0px;
    }

    .no-vertical-margin {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .no-horizontal-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .inside-col-shrink {
        margin: 0px 20px;
    }

    hr {
        margin: 0px;
        padding: 0px;
        border-top: 1px dashed #999;
    }    
}
