﻿/*Break points*/

/*---------------------------------------------------------
    Note:
        you don't need to import the variables in here you already will import this and the variables file in main stylie sheet
---------------------------------------------------------*/

$screen-size-tiny: 375px;
$screen-size-mini: 576px;
$screen-size-sm: 768px;
$screen-size-md: 992px;
$screen-size-laptop: 1024px;
$screen-size-lg: 1200px;
$screen-size-laptop-lg: 1367px;
$screen-size-xl: 1400px;
$screen-size-xga: 1600px;
$screen-size-fhd: 1920px;
$screen-size-rt: 2560px;

@media (max-width: $screen-size-fhd - 1) {
}

@media (max-width: $screen-size-xga - 1) {
}

@media (max-width: $screen-size-xl - 1) {
}

@media (max-width: $screen-size-lg - 1) {
}

@media (max-width: $screen-size-laptop - 1) {
}

@media (max-width: $screen-size-md - 1) {
    // Loose Styles
    .waves-parent .wave-pattern {
        bottom: 99.6%;
    }

    .yachts-container {
        .yacht_box {
            max-width: 500px;

            .content {
                min-width: unset;
                padding: 15px 15px;
                left: 20px;
                bottom: 20px;

                b {
                    font-size: 16px;
                }
            }
        }
    }

    .horizontal-card {
        .content {
            padding: 25px;
        }

        .img-box, .content {
            flex: 0 0 100%;
            height: auto;
        }

        &:nth-child(2n+2) {
            .img-box {
                order: 0;
            }

            .content {
                order: 1;
            }
        }
    }
    // Main Header
    header.main-header {
        .nav-bar {
            padding: 15px 0;
        }
    }
    // Main Footer
    .main-footer {
        text-align: center;
    }
    // Home Page
    .home-page {
        .why-choose_us {
            .features-container {
                flex-wrap: wrap;
                justify-content: center;

                .feature-box {
                    flex: 0 0 200px;
                    margin: 0 10px 15px;
                    min-height: 250px;
                }
            }
        }

        .newsletter .subscribe-block {
            flex-direction: column;

            .social-media {
                margin-bottom: 20px;
            }

            .input-group {
                justify-content: center;

                input {
                    flex: unset;
                    width: 100%;
                }
            }
        }

        .banner .waves-lg {
            display: none;
        }
    }

    // Attractions Page
    .attractions-page .attractions-content {
        margin-top: 0;
        padding-bottom: 30px;
    }
    // Contact Page
    .contact-page .contact-info div {
        width: 200px;
        overflow-wrap: anywhere;
        min-height: 220px;

        span, a {
            font-size: 16px;
        }
    }
}

@media (max-width: $screen-size-sm - 1) {
    // Loose Styles
    .waves-parent .wave-pattern {

        &.revers {
            top: -2px;
        }
    }

    .inner-banner {
        height: 200px;

        &:before {
            display: none;
        }

        .container .content {
            text-shadow: 0 0 5px #3e3e3e;

            h1 {
                font-size: 25px;
            }
        }

        .waves-lg {
            display: none;
        }
    }

    .yachts-container {
        justify-content: center;

        .yacht_box {
            flex: 0 0 100%;
            justify-content: center;

            .content {
                left: 10px;
                right: 10px;
                margin: auto;
                max-width: 400px;
                width: auto;

                b {
                    font-size: 16px;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .initial-title {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
    // Main Footer
    .main-footer ul li:last-child {
        margin-bottom: 15px;
    }
    // Home Page
    .home-page {
        .banner {
            .one-item {
                height: 250px;

                .item {
                    height: 250px;
                }

                .container .content {
                    left: 12px;

                    b {
                        font-size: 25px;
                        line-height: unset;
                    }

                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    // Fleet Page
    .fleet-page {
        .yachts-container {
            margin-top: 0;
        }

        .inner-banner .container .content {
            top: 0;
        }

        .our-yachts {
            padding-bottom: 40px;
        }
    }
    // boat_details Page
    .boat_details-page {
        #mainCarousel, #mainCarousel .carousel__slide {
            max-height: 350px;
        }
    }
    // About Page
    .about-page .our-team .four-items.owl-carousel .owl-nav {
        width: 100%;
        left: 0;
    }
    
}

@media (max-width: $screen-size-mini - 1) {
    // Loose Styles
    .waves-parent .wave-pattern {
        top: -7px;
    }

    // Fancy Box Carousel With Thumbnails
    #thumbCarousel .carousel__slide {
        width: 33%;
    }
    // Main Footer
    .main-footer {
        padding: 35px 0;

        ul {
            justify-content: center;
        }
    }
    // Home Page
    .home-page .newsletter .subscribe-block .input-group {
        input {
            height: 50px;
        }

        button {
            min-width: 120px;
            font-size: 17px;
        }
    }
    // Contact Page
    .contact-page .contact-info {
        flex-direction: column;
        margin: auto;

        div {
            width: 100%;
            max-width: 280px;
            margin: 0 auto 20px;
        }
    }
}

@media (max-width: $screen-size-tiny) {
}

@media (min-width: $screen-size-mini) {
}

@media (min-width: $screen-size-sm) {
}

@media (min-width: $screen-size-md) {
}

@media (min-width: $screen-size-laptop) {
}

@media (min-width: $screen-size-lg) {
}

@media (min-width: $screen-size-laptop-lg) {
    // Loose Styles
    .inner-banner {
        height: 400px;

        h1 {
            font-size: 68px;
        }

        .waves-lg {
            left: -150px;
        }
    }

    #thumbCarousel .carousel__slide {
        height: 100px;
    }
    // home-page
    .home-page {
        .banner {
            .one-item {
                height: 600px;

                .container .content {
                    b {
                        font-size: 68px;
                        font-weight: 700;
                        line-height: 70px;
                    }

                    span {
                        font-size: 24px;
                        font-weight: 500;
                    }
                }

                .item {
                    height: 600px;
                }
            }
        }
    }
}

@media (min-width: $screen-size-xl) {
}

@media (min-width: $screen-size-xga) {
    // home-page
    .home-page .banner .waves-lg {
        left: -100px;
    }
}

@media (min-width: $screen-size-fhd) {
}
