﻿/*---------------------------------------------------------
here you can import variables and common tags styling 
---------------------------------------------------------*/
@import 'core/base.scss';
@import 'pages/home.scss';
@import 'pages/receipt.scss';
@import 'pages/about.scss';
@import 'pages/contact.scss';
@import 'pages/boat-details.scss';
@import 'pages/media.scss';

/*---------------------------------------------------------
here you can add your general styling
---------------------------------------------------------*/


/*---------------------------------------------------------
here you can import pages styling 
---------------------------------------------------------*/
header.main-header {
    position: relative;

    .waves-pattern {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9;
        top: 98%;
    }

    ul li {
        display: inline-block;

        a {
            font-size: 18px;
            color: $black;
            @extend .fw-medium;
            @extend .initial-transition;
        }
    }

    .dropdown {
        a {
            padding: 0 1.4rem 0 0;
        }

        ul.dropdown-menu {
            border-color: rgba(255, 255, 255, 0.39);

            li {
                display: block;

                a {
                    padding: 0.25rem 1rem;
                    color: $white;
                }
            }
        }
    }

    .nav-bar {
        .sub-nav {
            padding-top: 30px;

            li {
                margin-left: 10px;

                a {
                    font-size: 14px;
                }

                i {
                    margin-right: 5px;
                    font-style: normal;
                    @extend .text-black;

                    &.icon {
                        font-size: 10px;
                    }
                }
            }
        }

        .main-nav {
            position: relative;

            > li {
                padding: .5rem 0.4rem;
                position: relative;
                margin-left: 10px;

                a {
                    @extend .text-black;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 7px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -9px;
                    transition: width .4s;
                    margin: auto;
                    background-image: url('/images/icons/wave_dark-one_line.svg');
                }

                &:hover:before, &.active:before {
                    display: block;
                    width: calc(100% - 13px);
                }
            }
        }
    }
}

.main-footer {
    background-color: $black;
    padding: 60px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: $white;

    a {
        display: inline-block;
        color: $white;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0;

        li {
            margin-bottom: 15px;

            i {
                color: $white;
            }

            &:last-child {
                flex: 0 0 100%;
                margin-bottom: 0;
            }
        }
    }

    .copyright {
        font-weight: 300;

        span:first-child {
            margin-bottom: 15px;
            display: block;
        }

        a {
            font-weight: 500;
        }
    }
}

.fleet-page {
    .inner-banner .container .content {
        top: -40px;
    }

    .yachts-container {
        margin-top: -100px;
        position: relative;
        z-index: 9;
    }
}

.attractions-page {
    .attractions-content {
        margin-top: -120px;
        position: relative;
        z-index: 11;
    }
}

//Error page
@media(max-width: 767px) {
    /* Error Page */
    .error-page .clip .error-shadow {
        height: 100px; /*Contrall*/
    }

    .error-page .clip:nth-of-type(2) .error-shadow {
        width: 80px; /*Contrall play with javascript*/
    }

    .error-page .clip:nth-of-type(1) .error-shadow, .error-page .clip:nth-of-type(3) .error-shadow {
        width: 100px; /*Contrall*/
    }
    .error-page .clip:nth-of-type(1) .error-shadow::after,
    .error-page .clip:nth-of-type(3) .error-shadow::after{
        display:none;
    }
    /*.error-page .digit {
        width: 80px;*/ /*Contrall*/
    /*height: 80px;*/ /*Contrall*/
    /*line-height: 80px;*/ /*Contrall*/
    /*font-size: 52px;
    }*/
    .error-page h1 /*Contrall*/ {
        font-size: 24px;
    }

    .error-page .msg /*Contrall*/ {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .error-page span.triangle /*Contrall*/ {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    .error-page .container-error-404 {
        height: 150px;
    }

    .error-page .container-error-404 {
        margin-top: 10%;
        position: relative;
        height: auto;
        padding-top: 40px;
        display:flex;
        flex-direction:column;
        align-items:center;

    }
    /* Error Page */
}
/*---------------------------------------------------------
here you can import break points styling 
    please let this at the end of this file
---------------------------------------------------------*/
@import 'core/break-points.scss';
