﻿/*---------------------------------------------------------
here you can import variables and common tags styling 
---------------------------------------------------------*/
/*@import "mixins";*/
/* Color Variables */
/* Fonts */
/* Basic Typography */
body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

ul {
  list-style: none;
  padding: 0;
}
ul:hover a {
  text-decoration: none;
}

/* Colors */
.text-white {
  color: #ffffff;
}

.text-black, header.main-header .nav-bar .main-nav > li a, header.main-header .nav-bar .sub-nav li i {
  color: #000;
}

/* Font Weights */
.fw-regular {
  font-weight: 400 !important;
}

.fw-medium, header.main-header ul li a {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

/* Font Sizes */
.fs-18 {
  font-size: 18px;
}

/* Titles */
.initial-title {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}
.initial-title .waves-sm {
  margin-right: 20px;
}

/* Buttons */
.initial-btn {
  font-size: 18px;
  font-weight: 400;
  border: 0;
  min-height: 40px;
  min-width: 150px;
  text-transform: uppercase;
  transition: all 0.4s;
  text-align: center;
  background: #000;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
}
.initial-btn:hover {
  color: #ffffff;
}

#return-to-top {
  position: fixed;
  bottom: 35px;
  right: 20px;
  background: #000;
  width: 45px;
  height: 45px;
  z-index: 99;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 2px;
  overflow: hidden;
}
#return-to-top:hover {
  background: #000;
}
#return-to-top:hover span {
  opacity: 0;
  display: none;
}
#return-to-top:hover i {
  color: #fff;
  opacity: 1;
  display: block;
  animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
#return-to-top i,
#return-to-top span {
  color: #fff;
  margin: 0;
  position: relative;
  left: 15px;
  top: 12px;
  font-size: 20px;
  -moz-transition: opacity 0.9s ease;
  -o-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
}
#return-to-top i {
  opacity: 0;
  display: none;
}
#return-to-top span {
  opacity: 1;
  top: 3px;
  left: 12px;
  font-weight: 600;
}

@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-70px);
  }
}
/* Loose Styles */
.inner-banner {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.inner-banner .container {
  position: relative;
  height: inherit;
  top: -100%;
}
.inner-banner .container .content {
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}
.inner-banner .container .content .breadcrumb .breadcrumb-item, .inner-banner .container .content .breadcrumb .breadcrumb-item a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.inner-banner .container .content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  float: none;
  font-size: 10px;
  color: #ffffff;
  position: relative;
  top: -3px;
}
.inner-banner .container .content h1 {
  font-size: 50px;
  font-weight: 700;
}
.inner-banner:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, transparent, transparent, transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 1;
}
.inner-banner .waves-lg {
  position: absolute;
  left: -230px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inner-banner .wave-pattern.down {
  top: unset;
  bottom: -2px;
}

.owl-carousel .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  background: transparent;
  border: 1px solid #ffffff;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #ffffff;
  border-color: #ffffff;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 25px;
  margin: auto;
  width: 95%;
  max-width: 1370px;
}
.owl-carousel .owl-nav button:focus, .owl-carousel .owl-nav button:hover {
  background: none !important;
  color: #f0f0f0 !important;
}
.owl-carousel .owl-nav .owl-prev {
  position: relative;
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  position: relative;
  right: 0;
}
.owl-carousel.dots-white .owl-dots .owl-dot {
  border-color: #ffffff;
}
.owl-carousel.dots-white .owl-dots .owl-dot.active {
  background: #ffffff;
  border-color: #ffffff;
}
.owl-carousel.dots-bottom .owl-dots {
  bottom: 32px;
  position: absolute;
  width: 100%;
}

.initial-transition, header.main-header ul li a, .yachts-container .yacht_box:hover .cover {
  transition: 0.8s cubic-bezier(0.39, 0.58, 0.57, 1) all;
}

.dropdown-toggle {
  position: relative;
}
.dropdown-toggle::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  content: "\f078";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.fit-img, .media-page .isotope-gallery .isotope-grid-item .isotope-item img, .boat_details-page #mainCarousel .carousel__slide img, .home-page .banner .one-item .item img.cover, .team-box img, .intro .video-popup .cover, .intro .img-box .cover, .horizontal-card .img-box img, .yachts-container .yacht_box .cover, .inner-banner img.banner {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.waves-parent {
  position: relative;
}
.waves-parent .wave-pattern {
  position: absolute;
  bottom: 99%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  -ms-transform: rotatex(180deg);
  -webkit-transform: rotatex(180deg);
  transform: rotatex(180deg);
}
.waves-parent .wave-pattern.revers {
  top: 0;
  -ms-transform: unset;
  -webkit-transform: unset;
  transform: unset;
}

.yachts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.yachts-container .yacht_box {
  position: relative;
  flex: 0 0 49%;
  max-height: 385px;
  overflow: hidden;
  margin-top: 15px;
}
.yachts-container .yacht_box .content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  background-color: #ffffff;
  color: #000;
  padding: 16px 20px;
  min-width: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yachts-container .yacht_box .content b {
  font-size: 24px;
  font-weight: 400;
  margin-right: 30px;
  text-transform: uppercase;
}
.yachts-container .yacht_box .content span {
  font-size: 14px;
  font-weight: 400;
}
.yachts-container .yacht_box .content span .icon {
  margin-right: 12px;
}
.yachts-container .yacht_box:hover .cover {
  transform: scale(1.1);
}
.yachts-container .yacht_box:hover .content {
  transition: 0.6s;
  background-color: #000;
  color: #ffffff;
}
.yachts-container .yacht_box:hover .content span .icon use {
  transition: 0.4s;
  fill: #ffffff;
}

.three-col {
  display: flex;
  flex-wrap: wrap;
}
.three-col li {
  flex: 0 0 32%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
.three-col li b {
  font-weight: 700;
}

.check-list {
  margin-bottom: 0;
}
.check-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
}
.check-list li:last-child {
  margin-bottom: 0;
}
.check-list li:before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background: #F2F2F2;
  font-size: 12px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-list.not-allowed li:before {
  content: "\f00d";
}
.check-list.bullet-points li:before {
  content: "\f192";
  font-weight: 500;
}

.horizontal-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
}
.horizontal-card .img-box {
  height: 386px;
  flex: 0 0 50%;
}
.horizontal-card .content {
  flex: 0 0 50%;
  border: 1px solid #F1F1F1;
  padding: 35px;
  height: 386px;
}
.horizontal-card .content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.horizontal-card .content h3 {
  margin: 20px 0 15px;
  font-size: 16px;
  font-weight: 600;
}

.intro .video-popup, .intro .img-box {
  position: relative;
  display: inline-block;
}
.intro .video-popup .icon, .intro .img-box .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  background: rgba(0, 0, 0, 0.1);
}
.intro .video-popup .waves-icon, .intro .img-box .waves-icon {
  position: absolute;
  top: 30px;
  left: -15px;
}

.team-box {
  position: relative;
  max-width: 300px;
  width: auto;
  height: 280px;
  margin: auto;
}
.team-box span {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  padding: 10px 15px;
  width: 85%;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

form.main-form input:not([type=checkbox]), form.main-form select, form.main-form textarea {
  background: #EFEFEF;
  color: #000;
  height: 60px;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  border: none;
  border-radius: 0;
}
form.main-form input:not([type=checkbox])::placeholder, form.main-form select::placeholder, form.main-form textarea::placeholder {
  color: #000;
}
form.main-form textarea {
  height: auto;
}
form.main-form .custom-select {
  position: relative;
}
form.main-form .custom-select:before {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 15px;
  border: none;
  content: "\f078";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
}
form.main-form .checkin {
  position: relative;
}
form.main-form .checkin:before {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 15px;
  border: none;
  content: "\f274";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  pointer-events: none;
}
form.main-form .two-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form.main-form .two-col input, form.main-form .two-col .custom-select, form.main-form .two-col .checkin {
  flex: 0 0 48%;
}
form.main-form .initial-btn {
  height: 60px;
}

.general-modal {
  display: none;
  max-width: 700px;
  min-width: 500px;
  border-radius: 2px;
}
.general-modal .check-list li {
  font-size: 19px;
}

#mainCarousel {
  margin: 0 auto 1rem auto;
  --carousel-button-color: #170724;
  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
  border: 1px solid #dadde9;
}

#mainCarousel .carousel__slide {
  width: 100%;
  padding: 0;
  text-align: center;
}

#mainCarousel .carousel__slide img {
  margin: auto;
}

#mainCarousel .carousel__button.is-prev {
  left: -1.5rem;
}

#mainCarousel .carousel__button.is-next {
  right: -1.5rem;
}

#mainCarousel .carousel__button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #A78BFA;
}

#thumbCarousel .carousel__slide {
  opacity: 0.5;
  padding: 0;
  width: 19.3%;
  max-height: 100px;
  margin: 0 7px 0 0;
  text-align: center;
  overflow: hidden;
}
#thumbCarousel .carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#thumbCarousel .carousel__slide.is-nav-selected {
  opacity: 1;
}

/* Error 404 page */
.error-page {
  /*--------------------------------------------FrameWork------------------------*/
}
.error-page * {
  font-family: "PT Sans Caption", sans-serif, "arial", "Times New Roman";
}
.error-page .container-error-404 {
  margin-top: 10%;
  position: relative;
  height: auto;
  padding-top: 40px;
}
.error-page .container-error-404 .clip {
  display: inline-block;
  transform: skew(-45deg);
}
.error-page .container-error-404 .clip .error-shadow {
  height: 180px;
  overflow: hidden;
}
.error-page .container-error-404 .clip:nth-of-type(2) .error-shadow {
  width: 130px;
  overflow: hidden;
  position: relative;
  box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150, 0.8), 20px 0px 20px -15px rgba(150, 150, 150, 0.8);
}
.error-page .container-error-404 .clip:nth-of-type(2) .digit {
  left: -10%;
}
.error-page .container-error-404 .clip:nth-of-type(1) .error-shadow {
  width: 250px;
}
.error-page .container-error-404 .clip:nth-of-type(1) .error-shadow:after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 0px;
  z-index: 9999;
  height: 100%;
  width: 10px;
  background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
  border-radius: 50%;
}
.error-page .container-error-404 .clip:nth-of-type(1) .digit {
  right: -20%;
}
.error-page .container-error-404 .clip:nth-of-type(3) .error-shadow {
  width: 250px;
}
.error-page .container-error-404 .clip:nth-of-type(3) .error-shadow:after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 0px;
  z-index: 9999;
  height: 100%;
  width: 10px;
  background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
  border-radius: 50%;
  left: -8px;
}
.error-page .container-error-404 .clip:nth-of-type(3) .digit {
  left: -20%;
}
.error-page .digit {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  top: 8%;
  color: white;
  background: #07B3F9;
  border-radius: 50%;
  display: inline-block;
  transform: skew(45deg);
}
.error-page h1 {
  font-size: 32px;
  color: #A2A2A2;
  font-weight: bold;
  padding-bottom: 20px;
}
.error-page .msg {
  bottom: auto;
  top: -300px;
  left: 30%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 32px;
  position: relative;
  z-index: 9999;
  display: block;
  background: #535353;
  color: #A2A2A2;
  border-radius: 50%;
  font-style: italic;
}
.error-page span.triangle {
  top: 70%;
  right: 0%;
  border-left: 20px solid #535353;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.error-page .triangle {
  position: absolute;
  z-index: 999;
  transform: rotate(45deg);
  content: "";
  width: 0;
  height: 0;
}
.error-page .overlay {
  position: relative;
  z-index: 20;
}
.error-page .ground-color {
  background: white;
}
.error-page .item-bg-color {
  background: #EAEAEA;
}
.error-page .padding-top {
  padding-top: 10px;
}
.error-page .padding-bottom {
  padding-bottom: 10px;
}
.error-page .padding-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}
.error-page .padding-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}
.error-page .padding-all {
  padding: 10px;
}
.error-page .no-padding-left {
  padding-left: 0px;
}
.error-page .no-padding-right {
  padding-right: 0px;
}
.error-page .no-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.error-page .no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.error-page .no-padding {
  padding: 0px;
}
.error-page .margin-top {
  margin-top: 10px;
}
.error-page .margin-bottom {
  margin-bottom: 10px;
}
.error-page .margin-right {
  margin-right: 10px;
}
.error-page .margin-left {
  margin-left: 10px;
}
.error-page .margin-horizontal {
  margin-left: 10px;
  margin-right: 10px;
}
.error-page .margin-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}
.error-page .margin-all {
  margin: 10px;
}
.error-page .no-margin {
  margin: 0px;
}
.error-page .no-vertical-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
.error-page .no-horizontal-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.error-page .inside-col-shrink {
  margin: 0px 20px;
}
.error-page hr {
  margin: 0px;
  padding: 0px;
  border-top: 1px dashed #999;
}

.home-page .banner {
  position: relative;
}
.home-page .banner .one-item {
  height: 500px;
}
.home-page .banner .one-item .container {
  height: inherit;
  top: -100%;
}
.home-page .banner .one-item .container .content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}
.home-page .banner .one-item .container .content b {
  font-size: 50px;
  display: block;
  line-height: 55px;
}
.home-page .banner .one-item .container .content span {
  margin: 8px 0 9px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.home-page .banner .one-item .item {
  height: 500px;
  position: relative;
}
.home-page .banner .one-item .item:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 1;
}
.home-page .banner .waves-lg {
  position: absolute;
  left: -230px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home-page .our-yachts {
  z-index: 1;
}
.home-page .our-yachts .container {
  position: relative;
  z-index: 9;
  margin-top: -420px;
}
.home-page .our-yachts .section-bg {
  position: relative;
  height: 500px;
  z-index: 1;
}
.home-page .our-yachts .section-bg .waves-lg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home-page .our-yachts .section-bg .wave-pattern.down {
  top: unset;
  bottom: -2px;
}
.home-page .why-choose_us {
  background-color: #F2F2F2;
}
.home-page .why-choose_us .features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page .why-choose_us .features-container .feature-box {
  background-color: #ffffff;
  max-height: 380px;
  min-height: 300px;
  flex: 0 0 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page .why-choose_us .features-container .feature-box span {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 33px;
}
.home-page .why-choose_us .features-container .feature-box:hover {
  background-color: #000;
  transition: 0.4s;
}
.home-page .why-choose_us .features-container .feature-box:hover svg use {
  fill: #ffffff;
}
.home-page .why-choose_us .features-container .feature-box:hover span {
  color: #ffffff;
}
.home-page .newsletter .subscribe-block {
  display: flex;
  align-items: center;
}
.home-page .newsletter .subscribe-block .social-media {
  display: flex;
}
.home-page .newsletter .subscribe-block .social-media a {
  width: 60px;
  height: 60px;
  background: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.home-page .newsletter .subscribe-block .social-media a .icon {
  color: #ffffff;
}
.home-page .newsletter .subscribe-block .input-group {
  flex-wrap: nowrap;
}
.home-page .newsletter .subscribe-block .input-group input {
  flex: 0 0 80%;
  height: 60px;
  border: 1px solid #e2e2e2;
  border-right: 0;
  padding: 10px 15px;
}
.home-page .newsletter .subscribe-block .input-group button {
  flex: 0 0 20%;
}

.receipt-page {
  padding: 50px 0;
}
.receipt-page .receipt-content {
  padding: 35px 100px;
  border: 1px solid #F0F0F0;
}
.receipt-page .receipt-content > .row span b {
  width: 115px;
  display: inline-block;
}
.receipt-page .receipt-content h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.receipt-page .receipt-content hr {
  margin: 25px 0;
  background-color: #F0F0F0;
  height: 1px;
  opacity: 1;
}
.receipt-page .receipt-content span {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  display: block;
  margin-bottom: 8px;
}
.receipt-page .receipt-content span b {
  margin-right: 30px;
}
.receipt-page .receipt-content table {
  border-spacing: 0 10px;
  border-collapse: separate;
}
.receipt-page .receipt-content table td, .receipt-page .receipt-content table th {
  text-align: center;
}
.receipt-page .receipt-content table th {
  border: 0;
}
.receipt-page .receipt-content table tr td {
  border-top: 1px solid #f0f0f0;
  border-color: #f0f0f0 !important;
}
.receipt-page .receipt-content table tr td:first-child {
  border-left: 1px solid #f0f0f0;
}
.receipt-page .receipt-content table tr td:last-child {
  border-right: 1px solid #f0f0f0;
}
.receipt-page .receipt-content table .total-row td:nth-of-type(1), .receipt-page .receipt-content table .total-row td:nth-of-type(2), .receipt-page .receipt-content table .total-row td:nth-of-type(3) {
  border: 0px;
}
.receipt-page .receipt-content table .total-row td:nth-of-type(4) {
  border: 1px solid #f0f0f0;
}

.about-page .our-team {
  background: #f2f2f2;
}
.about-page .our-team .four-items.owl-carousel .owl-nav {
  width: 108%;
  left: -4%;
  color: #000;
}
.about-page .our-team .four-items.owl-carousel .owl-nav button:hover {
  color: #000 !important;
}

.contact-page .contact-info {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: -125px;
  position: relative;
  z-index: 11;
}
.contact-page .contact-info div {
  flex: 0 0 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #F2F2F2;
  padding: 15px 20px;
}
.contact-page .contact-info div span, .contact-page .contact-info div a {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  display: block;
  margin-top: 35px;
  text-transform: uppercase;
}

.boat_details-page .initial-title {
  margin-bottom: 20px;
}
.boat_details-page .datepicker-booking {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px 0 0;
}
.boat_details-page .datepicker-booking .datepicker-inline {
  margin: auto;
  width: 100%;
}
.boat_details-page .datepicker-booking .datepicker-inline .table-condensed {
  width: 70%;
  margin: auto;
  border-collapse: inherit;
}
.boat_details-page .datepicker-booking .booking-status {
  order: 1;
  padding: 15px 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.boat_details-page .datepicker-booking .booking-status div {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.boat_details-page .datepicker-booking .booking-status div span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.boat_details-page .datepicker-booking .booking-status div.available span {
  border: 1px solid #707070;
}
.boat_details-page .datepicker-booking .booking-status div.unavailable span {
  background: #FF0000;
}
.boat_details-page form.main-form {
  border: 1px solid #F1F1F1;
  padding: 25px 30px;
  margin-top: 15px;
}
.boat_details-page form.main-form .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.boat_details-page form.main-form .head h2 {
  margin-bottom: 0;
}
.boat_details-page form.main-form .head small {
  font-size: 18px;
  font-weight: 400;
}
.boat_details-page form.main-form .initial-btn {
  height: 60px;
}
.boat_details-page .map {
  margin-top: 25px;
  height: 270px;
}
.boat_details-page .our-note {
  margin-top: 25px;
  background: #F2F2F2;
  padding: 25px 30px;
}
.boat_details-page .our-yachts {
  background: #F2F2F2;
}
.boat_details-page .our-yachts .two-items .yacht_box {
  display: flex;
  margin-top: 0;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-nav {
  width: 100%;
  color: #000;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-nav .owl-prev {
  left: -30px;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-nav .owl-next {
  right: -30px;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-nav .owl-prev:hover, .boat_details-page .our-yachts .two-items.owl-carousel .owl-nav .owl-next:hover {
  color: #8d8d8d !important;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-dots {
  bottom: -30px;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-dots .owl-dot {
  border-color: #000;
}
.boat_details-page .our-yachts .two-items.owl-carousel .owl-dots .owl-dot.active {
  background: #000;
}

.media-page .isotope-gallery .isotope-button-group .link {
  padding: 6px 15px;
  line-height: 1.5;
  margin: 0 5px 10px;
  background-color: #f5f8fc;
  min-width: 100px;
  color: #000;
  transition: 0.4s ease;
  min-width: 70px;
  height: 40px;
  margin: 0 4px 4px;
}
.media-page .isotope-gallery .isotope-button-group .link.is-checked, .media-page .isotope-gallery .isotope-button-group .link:hover {
  background-color: #000;
  color: #ffffff;
}
.media-page .isotope-gallery .isotope-grid-item {
  height: 217.25px !important;
}
.media-page .fancybox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.media-page .fancybox > a {
  position: relative;
  display: inline-block;
  min-width: 200px;
  min-height: 150px;
  height: auto;
  cursor: pointer;
  flex: 0 0 23%;
  margin: 10px;
}
.media-page .fancybox > a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: auto;
  transition: 0.4s;
}
.media-page .fancybox > a:hover:before {
  width: 100%;
  height: 100%;
}
.media-page .fancybox > a img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/*---------------------------------------------------------
here you can add your general styling
---------------------------------------------------------*/
/*---------------------------------------------------------
here you can import pages styling 
---------------------------------------------------------*/
header.main-header {
  position: relative;
}
header.main-header .waves-pattern {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  top: 98%;
}
header.main-header ul li {
  display: inline-block;
}
header.main-header ul li a {
  font-size: 18px;
  color: #000;
}
header.main-header .dropdown a {
  padding: 0 1.4rem 0 0;
}
header.main-header .dropdown ul.dropdown-menu {
  border-color: rgba(255, 255, 255, 0.39);
}
header.main-header .dropdown ul.dropdown-menu li {
  display: block;
}
header.main-header .dropdown ul.dropdown-menu li a {
  padding: 0.25rem 1rem;
  color: #ffffff;
}
header.main-header .nav-bar .sub-nav {
  padding-top: 30px;
}
header.main-header .nav-bar .sub-nav li {
  margin-left: 10px;
}
header.main-header .nav-bar .sub-nav li a {
  font-size: 14px;
}
header.main-header .nav-bar .sub-nav li i {
  margin-right: 5px;
  font-style: normal;
}
header.main-header .nav-bar .sub-nav li i.icon {
  font-size: 10px;
}
header.main-header .nav-bar .main-nav {
  position: relative;
}
header.main-header .nav-bar .main-nav > li {
  padding: 0.5rem 0.4rem;
  position: relative;
  margin-left: 10px;
}
header.main-header .nav-bar .main-nav > li:before {
  content: "";
  display: block;
  width: 0;
  height: 7px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  transition: width 0.4s;
  margin: auto;
  background-image: url("/images/icons/wave_dark-one_line.svg");
}
header.main-header .nav-bar .main-nav > li:hover:before, header.main-header .nav-bar .main-nav > li.active:before {
  display: block;
  width: calc(100% - 13px);
}

.main-footer {
  background-color: #000;
  padding: 60px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.main-footer a {
  display: inline-block;
  color: #ffffff;
}
.main-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.main-footer ul li {
  margin-bottom: 15px;
}
.main-footer ul li i {
  color: #ffffff;
}
.main-footer ul li:last-child {
  flex: 0 0 100%;
  margin-bottom: 0;
}
.main-footer .copyright {
  font-weight: 300;
}
.main-footer .copyright span:first-child {
  margin-bottom: 15px;
  display: block;
}
.main-footer .copyright a {
  font-weight: 500;
}

.fleet-page .inner-banner .container .content {
  top: -40px;
}
.fleet-page .yachts-container {
  margin-top: -100px;
  position: relative;
  z-index: 9;
}

.attractions-page .attractions-content {
  margin-top: -120px;
  position: relative;
  z-index: 11;
}

@media (max-width: 767px) {
  /* Error Page */
  .error-page .clip .error-shadow {
    height: 100px;
    /*Contrall*/
  }

  .error-page .clip:nth-of-type(2) .error-shadow {
    width: 80px;
    /*Contrall play with javascript*/
  }

  .error-page .clip:nth-of-type(1) .error-shadow, .error-page .clip:nth-of-type(3) .error-shadow {
    width: 100px;
    /*Contrall*/
  }

  .error-page .clip:nth-of-type(1) .error-shadow::after,
.error-page .clip:nth-of-type(3) .error-shadow::after {
    display: none;
  }

  /*.error-page .digit {
      width: 80px;*/
  /*Contrall*/
  /*height: 80px;*/
  /*Contrall*/
  /*line-height: 80px;*/
  /*Contrall*/
  /*font-size: 52px;
  }*/
  .error-page h1 {
    font-size: 24px;
  }

  .error-page .msg {
    top: -110px;
    left: 15%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }

  .error-page span.triangle {
    top: 70%;
    right: -3%;
    border-left: 10px solid #535353;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  .error-page .container-error-404 {
    height: 150px;
  }

  .error-page .container-error-404 {
    margin-top: 10%;
    position: relative;
    height: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Error Page */
}
/*---------------------------------------------------------
here you can import break points styling 
    please let this at the end of this file
---------------------------------------------------------*/
/*Break points*/
/*---------------------------------------------------------
    Note:
        you don't need to import the variables in here you already will import this and the variables file in main stylie sheet
---------------------------------------------------------*/
@media (max-width: 991px) {
  .waves-parent .wave-pattern {
    bottom: 99.6%;
  }

  .yachts-container .yacht_box {
    max-width: 500px;
  }
  .yachts-container .yacht_box .content {
    min-width: unset;
    padding: 15px 15px;
    left: 20px;
    bottom: 20px;
  }
  .yachts-container .yacht_box .content b {
    font-size: 16px;
  }

  .horizontal-card .content {
    padding: 25px;
  }
  .horizontal-card .img-box, .horizontal-card .content {
    flex: 0 0 100%;
    height: auto;
  }
  .horizontal-card:nth-child(2n+2) .img-box {
    order: 0;
  }
  .horizontal-card:nth-child(2n+2) .content {
    order: 1;
  }

  header.main-header .nav-bar {
    padding: 15px 0;
  }

  .main-footer {
    text-align: center;
  }

  .home-page .why-choose_us .features-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-page .why-choose_us .features-container .feature-box {
    flex: 0 0 200px;
    margin: 0 10px 15px;
    min-height: 250px;
  }
  .home-page .newsletter .subscribe-block {
    flex-direction: column;
  }
  .home-page .newsletter .subscribe-block .social-media {
    margin-bottom: 20px;
  }
  .home-page .newsletter .subscribe-block .input-group {
    justify-content: center;
  }
  .home-page .newsletter .subscribe-block .input-group input {
    flex: unset;
    width: 100%;
  }
  .home-page .banner .waves-lg {
    display: none;
  }

  .attractions-page .attractions-content {
    margin-top: 0;
    padding-bottom: 30px;
  }

  .contact-page .contact-info div {
    width: 200px;
    overflow-wrap: anywhere;
    min-height: 220px;
  }
  .contact-page .contact-info div span, .contact-page .contact-info div a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .waves-parent .wave-pattern.revers {
    top: -2px;
  }

  .inner-banner {
    height: 200px;
  }
  .inner-banner:before {
    display: none;
  }
  .inner-banner .container .content {
    text-shadow: 0 0 5px #3e3e3e;
  }
  .inner-banner .container .content h1 {
    font-size: 25px;
  }
  .inner-banner .waves-lg {
    display: none;
  }

  .yachts-container {
    justify-content: center;
  }
  .yachts-container .yacht_box {
    flex: 0 0 100%;
    justify-content: center;
  }
  .yachts-container .yacht_box .content {
    left: 10px;
    right: 10px;
    margin: auto;
    max-width: 400px;
    width: auto;
  }
  .yachts-container .yacht_box .content b {
    font-size: 16px;
  }
  .yachts-container .yacht_box .content span {
    font-size: 12px;
  }

  .initial-title {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .main-footer ul li:last-child {
    margin-bottom: 15px;
  }

  .home-page .banner .one-item {
    height: 250px;
  }
  .home-page .banner .one-item .item {
    height: 250px;
  }
  .home-page .banner .one-item .container .content {
    left: 12px;
  }
  .home-page .banner .one-item .container .content b {
    font-size: 25px;
    line-height: unset;
  }
  .home-page .banner .one-item .container .content span {
    font-size: 15px;
  }

  .fleet-page .yachts-container {
    margin-top: 0;
  }
  .fleet-page .inner-banner .container .content {
    top: 0;
  }
  .fleet-page .our-yachts {
    padding-bottom: 40px;
  }

  .boat_details-page #mainCarousel, .boat_details-page #mainCarousel .carousel__slide {
    max-height: 350px;
  }

  .about-page .our-team .four-items.owl-carousel .owl-nav {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 575px) {
  .waves-parent .wave-pattern {
    top: -7px;
  }

  #thumbCarousel .carousel__slide {
    width: 33%;
  }

  .main-footer {
    padding: 35px 0;
  }
  .main-footer ul {
    justify-content: center;
  }

  .home-page .newsletter .subscribe-block .input-group input {
    height: 50px;
  }
  .home-page .newsletter .subscribe-block .input-group button {
    min-width: 120px;
    font-size: 17px;
  }

  .contact-page .contact-info {
    flex-direction: column;
    margin: auto;
  }
  .contact-page .contact-info div {
    width: 100%;
    max-width: 280px;
    margin: 0 auto 20px;
  }
}
@media (min-width: 1367px) {
  .inner-banner {
    height: 400px;
  }
  .inner-banner h1 {
    font-size: 68px;
  }
  .inner-banner .waves-lg {
    left: -150px;
  }

  #thumbCarousel .carousel__slide {
    height: 100px;
  }

  .home-page .banner .one-item {
    height: 600px;
  }
  .home-page .banner .one-item .container .content b {
    font-size: 68px;
    font-weight: 700;
    line-height: 70px;
  }
  .home-page .banner .one-item .container .content span {
    font-size: 24px;
    font-weight: 500;
  }
  .home-page .banner .one-item .item {
    height: 600px;
  }
}
@media (min-width: 1600px) {
  .home-page .banner .waves-lg {
    left: -100px;
  }
}
