﻿@using System.Globalization
@using AppCore.Utilities
@using App.UI.Models
@inject AppCore.Managers.BusinessInfoManager Links
@model PageModelBase

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.IetfLanguageTag">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <partial name="_Favicon" />
    <!-- Oswald Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Montserrat Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!--Stylesheets-->
    <environment include="Development, Production">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
        <link href="/lib/jQuery.mmenu/mmenu.min.css" rel="stylesheet" />
        <link href="/lib/jQuery-Validation-Engine/validationEngine.jquery.min.css" rel="stylesheet" />
        <link href="/lib/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet" />
        <link href="/lib/OwlCarousel2/assets/owl.theme.default.min.css" rel="stylesheet" />
        <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
        <link href="/lib/toastr.js/toastr.min.css" rel="stylesheet" />
        <link href="/css/vendors/fancybox.min.css" rel="stylesheet" />
        <link href="/css/vendors/flags.css" rel="stylesheet" />
        <link href="/lib/magnific-popup.js/magnific-popup.min.css" rel="stylesheet" />
        <link href="/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment include="Staging">
        <link href="/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>
    @RenderSection("Head", required: false)
</head>
<body>

    <main id="main-wrapper">
        <header class="main-header">
            <nav class="nav-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-6">
                            <a href="/" class="logo-box"><img src="/images/logos/bonta-logo.svg" class="wow rotateIn img-fluid" /></a>
                        </div>
                        <div class="col-md-9 col-6 pe-md-1 ps-md-0 text-end">
                            <a href="#mobileMenu" id="my-button" class=" d-inline-block d-lg-none menu-bars text-right">
                                <i class="fa fa-bars fa-2x bars-icon text-black"></i>
                            </a>
                            <ul class="sub-nav d-none d-lg-block">
                       
                                 @foreach (var link in Links.GetSocialLinks())
                                    {

                                        <li>
                                            <a href="@link.Link" target="_blank"><i class="fa-brands fa-@link.CssClass"></i></a>
                                        </li>
                                    }


                                @*<li class="dropdown lang">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img class="flag flag-gb" src="/images/flags/flag_placeholder.png">
                                        EN
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDown">
                                        <li><a class="dropdown-item" href="#"><img class="me-2 flag flag-gb" src="/images/flags/flag_placeholder.png">EN</a></li>
                                        <li><a class="dropdown-item" href="#"><img class="me-2 flag flag-gb" src="/images/flags/flag_placeholder.png">EN</a></li>
                                    </ul>
                                </li>*@
                            </ul>
                            <ul class="main-nav d-none d-lg-block parent">
                                <li><a href=@Model.GetLocalizedUrl("/")> <localize key="Home" /></a></li>
                                @* <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" id="dropDown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Fleet</a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDown">
                                    <li><a class="dropdown-item" href="/fleet">Fleet</a></li>
                                    <li><a class="dropdown-item" href="/fleet">Fleet</a></li>
                                    </ul>
                                    </li>*@
                                <li><a href=@Model.GetLocalizedUrl("/fleet")><span><localize key="Fleet" /></span></a></li>
                                <li><a href=@Model.GetLocalizedUrl("/attractions")><span><localize key="Attractions" /></span></a></li>
                                <li><a href=@Model.GetLocalizedUrl("/gallery")>Gallery</a></li>
                                <li><a href=@Model.GetLocalizedUrl("/about-us")><localize key="About Us" /></a></li>
                                <li><a href=@Model.GetLocalizedUrl("/contact-us")><localize key="Contact Us" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <svg width="100%" class="waves-pattern" viewBox="0 0 1920 37.814">
                <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#fff"></use>
            </svg>
        </header>
        @RenderBody()

        <footer class="main-footer waves-parent">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        <a href="/"><img src="/images/logos/bonta-logo-white.svg" /></a>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4 mb-md-0 mb-2">
                        <ul>
                            <li class="me-3"><i class="fa-solid fa-location-dot me-3"></i>@Model.BusinessInfo.Address</li>
                            <li><i class="fa-solid fa-phone me-3"></i><a href="tel:+@Model.BusinessInfo.PhoneNumber">@Model.BusinessInfo.PhoneNumber</a></li>
                            <li><i class="fa-solid fa-envelope me-3"></i><a href="mailto: @Model.BusinessInfo.ContactUsEmail">@Model.BusinessInfo.ContactUsEmail</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 copyright text-md-end">
                        <span>© @DateTime.Now.Year Bontá Yachting. All rights reserved.</span>
                        <span>Powered by <a href="https://innovixsolutions.com/" target="_blank">innovix solutions</a></span>
                    </div>
                </div>
            </div>
            <!-- Wave Pattern -->
            <svg width="100%" class="wave-pattern" viewBox="0 0 1920 37.814">
                <use xlink:href="/images/svg/master.svg#wave-pattern" fill="#000"></use>
            </svg>
        </footer>
    </main>
    <!-- Mobile Menu -->
    <nav id="mobileMenu">
        <ul>
            <li><a href=@Model.GetLocalizedUrl("/")><span> <localize key="Home" /></span></a></li>
            @*   <li>
                <span>Fleet</span>
                <ul>
                <li><a href="/fleet">Fleet</a></li>
                <li><a href="/fleet">Fleet</a></li>
                </ul>
                </li>*@
            <li><a href=@Model.GetLocalizedUrl("/fleet")><span><localize key="Fleet" /></span></a></li>
            <li><a href=@Model.GetLocalizedUrl("/attractions")><span><localize key="Attractions" /></span></a></li>
            <li><a href="#.">Gallery</a></li>
            <li><a href=@Model.GetLocalizedUrl("/about-us")><localize key="About Us" /></a></li>
            <li><a href=@Model.GetLocalizedUrl("/contact-us")><localize key="Contact Us" /></a></li>
        </ul>
    </nav>
    <!----------------- Return to Top ----------------->
    <a href="javascript:" id="return-to-top"><span>up</span><i class="fa fa-arrow-up"></i></a>

    <environment include="Development, Production">
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/lib/OwlCarousel2/owl.carousel.min.js"></script>
        <script src="/lib/jQuery.mmenu/mmenu.min.js"></script>
        <script src="/lib/toastr.js/toastr.min.js"></script>
        <script src="/lib/jQuery-Validation-Engine/jquery.validationEngine.min.js"></script>
        @*<script src="~/lib/vue/vue.min.js"></script>
            <script src="~/js/innovix/instagram-feed.js"></script>*@
        <script src="/js/vendors/fancybox.umd.js"></script>
          <script src="/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>
        <script src="/js/app/ui.js" asp-append-version="true"></script>
    </environment>
    <environment include="Staging">
        <script src="/js/bundle.min.js" asp-append-version="true"></script>
        <script src="/lib/jQuery-Validation-Engine/languages/jquery.validationEngine-@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName).min.js"></script>
        <script src="/lib/jQuery-Validation-Engine/jquery.validationEngine.min.js"></script>
    </environment>

    <script async src="//www.google.com/recaptcha/api.js"></script>

    @if (TempData.ContainsKey("Notify"))
    {
        var Notify = TempData.Get<NotificationDetails>("Notify");
        <script>
            toastr.options = {
                timeOut: 0,
                extendedTimeOut: 0
            };
            $(document).ready(function () {
                toastr.@Notify.NotificationType (" @Notify.Message ", " @Notify.Title ");
            });
        </script>
    }
    <script>
        // Mobile Menu
        document.addEventListener(
            "DOMContentLoaded", () => {
                new Mmenu("#mobileMenu", {
                    navbar: {
                        title: "Bonta Yachting"
                    }
                }, {
                    // configuration
                    offCanvas: {
                        page: {
                            nodetype: "#main-wrapper"
                        }
                    }
                }

                );
            }
        );
    </script>
    <script>
        function setCookie(event, cultureValue) {
            event.preventDefault();
            var d = new Date();
            d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = "culture=" + cultureValue + ";" + expires + ";path=/";

            window.location.href = event.target.href;
        }
    </script>
       <script>
        $(document).ready(function () {
        $(".parent li a").filter(function () {
        return this.href === location.href;
        }).parent("li").addClass("active")

        });
        </script>
    @RenderSection("Scripts", required: false)

</body>
</html>